In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../../dataSource/39947.protein.links.v12.0.output.txt', sep='\t')
df

              protein1      protein2  combined_score
0         Os09g0104200  Os07g0571100             238
1         Os09g0104200  Os09g0338701             219
2         Os09g0104200  Os01g0737700             506
3         Os09g0104200  Os06g0664800             219
4         Os09g0104200  Os01g0757900             284
...                ...           ...             ...
17730217  Os06g0129700  Os02g0491900             226
17730218  Os06g0129700  Os06g0138400             246
17730219  Os06g0129700  Os06g0634800             366
17730220  Os06g0129700  Os11g0519500             368
17730221  Os06g0129700  Os02g0721500             307

[17730222 rows x 3 columns]

In [4]:
df = df.drop_duplicates(subset=['protein1'])
df

              protein1      protein2  combined_score
0         Os09g0104200  Os07g0571100             238
1357      Os01g0104100  Os01g0616300             189
1362      Os01g0114400  Os10g0208200             319
4068      Os01g0117300  Os03g0260100             219
6821      Os01g0127450  Os03g0213900             167
...                ...           ...             ...
17727380  Os01g0253200  Os05g0593550             177
17727450  Os06g0143500  Os06g0716100             181
17728242  Os06g0142300  Os05g0485400             175
17728245  Os06g0141100  Os06g0296900             204
17729356  Os06g0129700  Os08g0506500             150

[14128 rows x 3 columns]

In [5]:
df.to_csv('../results/protein_drop_duplicates.csv', index=False)